<p> Wow guys!!!! </p>
<p> Message: <%= @booking.message %> </p>
<p> Number of cats: <%= @booking.number_of_cats %> </p>
<p> Start date: <%= @start_date %> </p>
<p> End date: <%= @end_date %> </p>
<p> Total price: <%= @booking.price_total %> </p>